.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
intermediates/003/lastz_workdir
intermediates/003/CM009021.1.fna
intermediates/004/fish_for_tree.vcf.gz
intermediates/004/greb1l-ish-filtered.recode.vcf
intermediates/004/almost-ready-for-imputation.vcf
intermediates/004/ready-for-imputation.vcf
intermediates
genome
geo-spatial
/001-align-coho-genome.nb.html
/002-allele-frequencies.nb.html
/003-extract-johnson-creek-variants.nb.html
/004-prepare-haplotypes.nb.html
/005-annotating-variants-near-greb1l.nb.html
/006-haplo-raster-plots.nb.html
/007-arg-inference-and-plotting.nb.html
/008-read-depths-and-duplications.nb.html
/009-rosa-dna-distance-trees.nb.html
/010-salmon-river-carcasses.nb.html
/011-recombinant-frequencies.nb.html
/012-coalescent-modeling-of-recombinants.nb.html
/001-align-coho-genome.html
/002-allele-frequencies.html
/003-extract-johnson-creek-variants.html
/004-prepare-haplotypes.html
/005-annotating-variants-near-greb1l.html
/006-haplo-raster-plots.html
/007-arg-inference-and-plotting.html
/008-read-depths-and-duplications.html
/009-rosa-dna-distance-trees.html
/010-salmon-river-carcasses.html
/011-recombinant-frequencies.html
/012-coalescent-modeling-of-recombinants.html
/100-RoSA-figure1-map.html
/101-Klamath-estuary-GSI-rubias.html
/102-Klamath-estuary-ANOVA-sampling-date-RoSA.html
/102.1-Klamath-estuary-partial-correlation.html
/103-Klamath-estuary-GonadSI-mixed-model-analysis.html
/103.1-Klamath-estuary-GonadSI-power-analysis.html
/104-Klamath-estuary-nonwaterfraction-adiposity-mixed-model-analysis.html
/104.1-Klamath-estuary-nonwaterfraction-power-analysis.html
/105-Klamath-estuary-figure4.html
/106-TrinityRiver-ANOVA-tableS5-figureS7.html
/107-RoSA-population-genetics-survey.html
/108-Klamath-basin-early-RoSA-haplotype-abundance-commercial-fishery-model-tableS10.html
/100-RoSA-figure1-map-using-sf.html
/201-01-prep-bams-to-seek-inversions.html
/201-02-seek-inversions.html
/202-01-genomewide-allele-freqs-from-the-bams.html
/203-01-pca-for-gwas-covariate.html
/203-02-gwas-with-angsd.html
/204-01-assess-genotyping-error-rate-with-whoa.html
/204-02-assess-genotype-error-from-subsampled-hi-read-depth-samples.html
/204-03-simulate-imputation-and-phasing-error-for-trees.html
fix-neil-stuff-en-masse.sh
/*.stderr
/*.stdout
/timings.txt
README.html
snpEff_v4_3t_core
outputs
chinook_WGS_processed
/106-TrinityRiver-ANOVA-tableS6-figS7-figS8.html
/106-TrinityRiver-ANOVA-etc.html
final-figs
/201-03-seek-inversions-with-gridss.html
/gridss-work-area
/gridss
/high-depth-chinook
/RentPlus
/beagle.27Jan18.7e1.jar
/lastz-1.04.03.tar
/lastz-distrib-1.04.03/
/multiz-tba.012109.tar
/multiz-tba.012109/
/snpEff_download.zip
